node_modules/
.expo/
dist/
web-build/
expo-env.d.ts
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.pem
.env
.env*.local
.env.production
*.tsbuildinfo
app-example
/ios
/android
android-service-account.json
*.aab
*.apk
playstore-assets/
credentials.json
google-services.json
build/
.expo-shared/
.idea/
